#Pandas:

Primary data analysis library in python
pandas library provides a number of data analysis features,which made it one of the most popular data science tools.

Pandas has two data structures.padndas serices and pandas DataFrame.

A series is one-dimensional array-like object that provides us with many ways to index data.

series acts like an ndarray,but it supports many data types,integers,strings,floating point numbers.

A Dataframe is a 2-D elastic data structure that supports hetrogenous data with labled axis for rows and columns.
Arithmetic operations can appear both row and column labels.

In [2]:
import pandas as pd

In [6]:
ser=pd.Series(data=[100,200,500,600,700],index=['tom','sam','ash','Rai','bush']);

In [7]:
ser

tom     100
sam     200
ash     500
Rai     600
bush    700
dtype: int64

In [10]:
#If we delete the word data and index but get some output(as pandas know how to resolve 2 arrays in series)
ser=pd.Series([100,'book',500,600,700],['tom','sam','ash','Rai','bush']);

In [11]:
ser

tom      100
sam     book
ash      500
Rai      600
bush     700
dtype: object

In [12]:
#Data types can be hetrogenous
ser=pd.Series(data=[100,'book','pen',600,700],index=[200,'sam','ash','Rai','bush']);

In [13]:
ser

200      100
sam     book
ash      pen
Rai      600
bush     700
dtype: object

In [15]:
#If we forget index
ser.index

Index([200, 'sam', 'ash', 'Rai', 'bush'], dtype='object')

In [16]:
#To find a particular data of an index
ser['Rai']

600

In [17]:
#Same output using Loc function
ser.loc['Rai']

600

In [19]:
ser.loc[['Rai','bush']]

Rai     600
bush    700
dtype: object

In [25]:
ser

200      100
sam     book
ash      pen
Rai      600
bush     700
dtype: object

In [29]:
#use a numeric indices.series indices also start by zero
ser.iloc[[3,4]]

Rai     600
bush    700
dtype: object

In [33]:
'bush' in ser

True

In [32]:
'Ramzan' in ser

False

In [34]:
ser

200      100
sam     book
ash      pen
Rai      600
bush     700
dtype: object

In [35]:
ser*3

200              300
sam     bookbookbook
ash        penpenpen
Rai             1800
bush            2100
dtype: object

In [36]:
#Squre values
ser[['Rai','bush']]**2

Rai     360000
bush    490000
dtype: object