#Pands Dataframe

pandas dataframe is a 2 dimensional labled data structure

In [2]:
import pandas as pd

In [10]:
#Dictionary in python series
d={'first':pd.Series([500,600,700,800],index=['chair','book','pen','table']),
'second':pd.Series([1000,2000,3000,4000,5000],index=['chair','bottle','pen','cup','glass'])
  }

In [11]:
d

{'first': chair    500
 book     600
 pen      700
 table    800
 dtype: int64,
 'second': chair     1000
 bottle    2000
 pen       3000
 cup       4000
 glass     5000
 dtype: int64}

In [14]:
type(d)

dict

In [12]:
#Converting Dictionary into dataframe.series and dictionary are merged into dataframe
df=pd.DataFrame(d)

In [13]:
df

        first  second
book    600.0     NaN
bottle    NaN  2000.0
chair   500.0  1000.0
cup       NaN  4000.0
glass     NaN  5000.0
pen     700.0  3000.0
table   800.0     NaN

In [15]:
#change th formate with the  following function
print(df)

        first  second
book    600.0     NaN
bottle    NaN  2000.0
chair   500.0  1000.0
cup       NaN  4000.0
glass     NaN  5000.0
pen     700.0  3000.0
table   800.0     NaN

In [16]:
#Show the index
df.index

Index(['book', 'bottle', 'chair', 'cup', 'glass', 'pen', 'table'], dtype='object')

In [18]:
#show columns
df.columns

Index(['first', 'second'], dtype='object')

In [19]:
#To find the spesific index from dictionary
pd.DataFrame(d,index=['apple','book','chair'])

       first  second
apple    NaN     NaN
book   600.0     NaN
chair  500.0  1000.0

In [20]:
#if we delete d from above example
pd.DataFrame(index=['apple','book','chair'])

Empty DataFrame
Columns: []
Index: [apple, book, chair]

In [23]:
#column  four is not there.(label that doesn't exist)
pd.DataFrame(d,index=['apple','book','chair'],columns=['first','second'])

       first  second
apple    NaN     NaN
book   600.0     NaN
chair  500.0  1000.0